<% @posts.each do |post| %>
<div class='span6'>
	<h4><%= link_to post.title, post, class: "post_link" %></h4>
	<em><%= post.user.email %></em>
	<p>(<%= post.date.strftime('%m/%d/%Y') %>)</p>
	<p><%= post.content %></p>	
</div>
<% end %>